.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }
body {
    /* display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: rgb(255, 209, 249); */
    background: linear-gradient(rgba(255, 209, 249, 0.5), rgba(188, 235, 249, 0.5)), 
    url('https://tinyurl.com/y93hm9dx'); 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    
  }
  
  header{
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: space-around; */
    background: linear-gradient(rgb(147, 67, 85),rgb(115, 61, 124))
  }
  nav{
    float: left;
    background-color: rgb(53, 56, 56);
    flex: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .navlink{
    color: #000000;
    font-family: sans-serif;
    background-color: rgb(140, 89, 148);
    border: 5px solid;
    border-color: rgb(140, 89, 148);
  }
  .sitename {
    font-family: "Pacifico", sans-serif;
    text-decoration: wavy;
    font-size: 5vmin;
  }
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  p {
    font-family: sans-serif;
  }
  footer {
    background-color:  rgb(53, 56, 56);
  }